<div class="body">
    
    <div class="text"></div>
<div class="container">

    <!--<div class="left"></div> -->
    <div class="right">
    <div class="formBox">
        
        <form>
        <p> Email</p>
        <input type="text" name="email" placeholder="Email"  [(ngModel)]="email">
            
        <p> password</p>
        <input type="Password" placeholder="Password" name="password" [(ngModel)]="password">
            
        <input type="submit" value="Login" name="" (click)="myLogin()">
        <a href="/register">or register here</a>
        </form>
        
        </div>
    </div>

</div>

</div>




<!--<div class="uk-padding" >
    
    <div class="uk-card uk-card-default uk-card-body ">
    <h3 class="uk-card-title" style="font-size: 1.2em">LOGIN</h3>
    
    <fieldset class="uk-fieldset"  style="background-color:#150c7d; border-radius:5px">

        
        <div class="uk-margin" >
            <input class="uk-margin" style="border-radius:5px" class="uk-input" type="text" placeholder="Email" name="email" [(ngModel)]="email">
        </div>
        <div class="uk-margin">
            <input style="border-radius:5px" class="uk-input" type="text" placeholder="Password" name="password" [(ngModel)]="password">
        </div>

        <div class="uk-margin">
            <button style="border-radius:5px" class="uk-button uk-button-primary" (click)="myLogin()">LOGIN</button>
        </div>
        

    </fieldset>
</div>
    
</div> -->
