<div class="body">
    
<div class="text"></div>
<div class="container">
    
    <!--<div class="left"></div> -->
    <div class="right">
    <div class="formBox">
        
        <form>
        <p> Register</p>
        <input type="text" name="email" placeholder="Email"  [(ngModel)]="email">
            
        <p> password</p>
        <input type="Password" placeholder="Password" name="password" [(ngModel)]="password">
            
        <input type="submit" value="register" name="" (click)="myRegister()">
        </form>
        
        </div>
    </div>

</div>

</div>

<!-- <div class="uk-padding">
    
    <div class="uk-card uk-card-default uk-card-body ">
    <h3 class="uk-card-title">REGISTER</h3>
    
    <fieldset class="uk-fieldset">

        
        <div class="uk-margin">
            <input class="uk-input" type="text" placeholder="Email" name="email" [(ngModel)]="email">
        </div>
        <div class="uk-margin">
            <input class="uk-input" type="text" placeholder="Password" name="password" [(ngModel)]="password">
        </div>

        <div class="uk-margin">
            <button class="uk-button uk-button-primary" (click)="myRegister()">REGISTER</button>
        </div>

    </fieldset>
</div>
    
</div> -->
